html {
    font-size: 62.5%;
    /*Reiniciamos los rems de 16px a 10px*/
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

/* Globals */
h1 {
    font-size: 3.9rem;
}

h2 {
    font-size: 3.3rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.3rem;
}

p {
    font-size: 2rem;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* Utilities */
.no-margin {
    margin: 0;
}

.container {
    max-width: 90%;
    margin: auto auto;
}

/* Home */
.site-header {
    background-image: url(../img/joven.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    clip-path: polygon(100% 0, 100% 100%, 50% 88%, 0% 100%, 0 50%, 0% 0%);

}
.site-header::before{
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(to right, rgba(0, 42, 63, 0.986), rgb(62, 226, 241));
    clip-path: polygon(100% 0, 100% 100%, 50% 88%, 0% 100%, 0 50%, 0% 0%);
    position: absolute;
    opacity: 0.5;
}
.site-header div{
    position: relative;
}

.navigation-content {
    list-style: none;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

.logo-content h1 {
    font-size: 2.7rem;
}

@media only screen and (min-width: 768px) {
    .navigation-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;
    }

    .logo-content {
        display: flex;
    }

    .logo-content h1 {
        font-size: 3.9rem;
    }
}

.navigation-container img {
    height: 14rem;
}

.logo-content {
    display: flex;
    align-items: center;
}

.logo-content h1 {
    color: #ffffff;
}

@media only screen and (min-width: 768px) {

    .navigation-content {
        display: flex;
        justify-content: space-between;
    }

}

.navigation-content a {
    text-decoration: none;
    color: #ffffff;
    align-items: center;
}

.navigation-content li {
    padding: 1rem 2rem;
    margin-right: 1rem;
}

.navigation-content li:hover {
    background-color: rgb(25, 41, 75);
    border-radius: 5%;
    transition: all .3s ease-in-out;
}

@media only screen and (min-width:768px) {
    .navigation-content li:last-of-type {
        border: 2px solid #ffffff;
        border-radius: 50%;
    }
}
.introducing p{
    font-size: 3em;
    width: 70%;
    color: #ffffff;
    
}
.introducing ::after{
    content: '';
    display: block;
    height: 3px;
    width: 100px;
    background-color: rgb(57, 199, 180);
    margin-top: 1rem;
}
@media only screen and (min-width: 768px) {
    .introducing p{
        font-size: 5em;
        width: 40%;
    }
    .introducing ::after{
        width: 300px;
    }
}
.header-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding-bottom: 10rem;
}