html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*Reiniciamos los rems de 16px a 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* Globals */
h1 {
    font-size: 3.9rem;
    font-family: 'PT Serif', serif;
}

h2 {
    font-size: 3.3rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.3rem;
}

p {
    font-size: 2rem;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    font-size: 1.8rem;
}

/* Utilities */
.no-margin {
    margin: 0;
}

.container {
    max-width: 90%;
    margin: auto auto;
}

.button {
    background-color: rgb(19, 169, 189);
    border-radius: 10%;
    cursor: pointer;
    color: #ffffff;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: fantasy;
}

.text-center {
    text-align: center;
}

#facebook:hover {
    color: #3f73e4;
}

#instagram:hover {
    color: #bb3838;
}

#whatsapp:hover {
    color: #00bb2d;
}

/* header */
.site-header {
    background-image: url(../img/joven.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 100%, 50% 88%, 0% 100%, 0 50%, 0% 0%);
    height: 100vh;
    position: relative;

}

.site-header::before {
    background: linear-gradient(to right, rgba(0, 42, 63, 0.986), rgb(62, 226, 241));
    clip-path: polygon(100% 0, 100% 100%, 50% 88%, 0% 100%, 0 50%, 0% 0%);
    content: "";
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
}

.site-header div {
    position: relative;
}

.navigation-content {
    font-size: 1.7rem;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation-container img {
    margin-right: 2rem;
}

.logo-content {
    align-items: center;
    display: flex;
}

.logo-content h1 {
    color: #ffffff;
    font-size: 2.7rem;
}

@media only screen and (min-width: 768px) {
    .navigation-container {
        align-items: center;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
    }

    .navigation-container img {
        width: 20%;
    }

    .logo-content {
        display: flex;
    }

    .logo-content h1 {
        font-size: 3.9rem;
    }
}

@media only screen and (min-width: 768px) {
    .navigation-content {
        display: flex;
        justify-content: space-between;
    }
}

.navigation-content a {
    align-items: center;
    color: #ffffff;
    text-decoration: none;

}

.navigation-content li {
    padding: 1rem 2rem;
    margin-right: 1rem;
}

.navigation-content li:hover {
    background-color: rgb(25, 41, 75);
    border-radius: 5%;
    transition: all .3s ease-in-out;
}

@media only screen and (min-width:768px) {
    .navigation-content li:last-of-type {
        border: 2px solid #ffffff;
        border-radius: 50%;
    }
}

.introducing p {
    color: #ffffff;
    width: 70%;
}

.introducing ::after {
    background-color: rgb(57, 199, 180);
    content: '';
    display: block;
    height: 3px;
    margin-top: 1rem;
    width: 100px;
}

@media only screen and (min-width: 768px) {
    .introducing p {
        font-size: 4em;
        width: 40%;
    }

    .introducing::after {
        width: 300px;
    }
}

.header-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding-bottom: 10rem;
}

/*sites-header*/
.pag-header {
    background: linear-gradient(to right, rgba(0, 42, 63, 0.986), rgb(62, 226, 241));
}

/* Footer */
.site-footer {
    background-color: rgb(93, 93, 93);
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.site-footer h4,
p {
    color: #ffffff;
}

@media only screen and (min-width:768px) {
    .footer-container {
        display: flex;
        justify-content: space-around;
    }
}

.social-networks a {
    color: #ffffff;
    font-size: 3rem;
    margin-right: 3rem;
}

footer .navigation-content {
    display: inline-block;
    text-align: start !important;
}

footer .navigation-content li:last-of-type {
    display: none;
}

footer .footer-container h4::after {
    background-color: rgb(57, 199, 180);
    content: '';
    display: block;
    height: 3px;
    margin-top: 1rem;
    width: 80px;
}

footer #copyright {
    text-align: center;
    font-size: 1.5rem;
}

footer span {
    font-style: italic;
    font-weight: bold;
}

/* Contact us */
.contact-content {
    background-image: url(../img/contacto.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 768px) {
    .contact-content {
        height: 100vh;
    }
}

.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.fields-container {
    display: flex;
    flex-direction: column-reverse;
}

@media only screen and (min-width: 768px) {
    .fields-container {
        display: flex;
        flex-direction: row;
        margin: auto auto;
    }
}

.fields-content {
    border: 2px solid rgb(93, 93, 93);
    background-color: #d6d6d6;
    opacity: .9;
    padding: 1rem 0;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .fields-content {
        width: 70rem;
    }
}

fieldset {
    border: none;
}

.field {
    margin: 2rem 0;
}

.fields {
    margin: 0 2rem;
}

.fields input {
    background-color: #d6d6d6;
    border: none;
    padding: 1rem .5rem;
    width: 300px;
}

.field::after {
    background-color: #b1abab;
    content: "";
    display: block;
    height: 2px;
    width: 30rem;
}

textarea {
    background-color: #d6d6d6;
    border: none;
    font-family: sans-serif;
    font-size: 1.4rem;
    height: 9rem;
    max-height: 9rem;
    resize: none;
    width: 100%;

}

@media only screen and (min-width: 768px) {
    .fields {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .field:last-of-type {
        display: block;
        width: 100%;
    }

    .field::after {
        background-color: #b1abab;
        content: "";
        display: block;
        height: 2px;
        width: 100%;
    }

    textarea {
        background-color: #d6d6d6;
        border: none;
        width: 100%;
    }
}

.contact-info {
    background-color: rgb(93, 93, 93);
    background-image: url(../img/logo-fondo.png);
    background-position: -270% 60%;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 2rem;

}

@media only screen and (min-width: 768px) {
    .contact-info {
        background-position: -220% 150%;
    }
}

.contact-info i {
    margin-right: 1.5rem;
}